<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="bokföring, bokslut, redovisning, löpande bokföring, Årsredovisningar">

    <title>Axblom och Thöresson Redovisning</title>

    <!-- 
    - favicon
  -->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-32x32.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="./style.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="top" class="dark_theme">
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <h1 class="h1 logo">
          <a href="#">Axblom & Thöresson Redovisning</a>
        </h1>

        <div class="navbar-actions">
          <select name="language" id="lang">
            <option value="en">En</option>
            <option value="se">Se</option>
          </select>

          <button
            class="theme-btn"
            aria-label="Change Theme"
            title="Change Theme"
            data-theme-btn
          >
            <span class="icon"></span>
          </button>
        </div>

        <button
          class="nav-toggle-btn"
          aria-label="Toggle Menu"
          title="Toggle Menu"
          data-nav-toggle-btn
        >
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>

        <nav class="navbar" data-navbar
       >
          <ul class="navbar-list">
            <li>
              <a href="#home" class="navbar-link"
              id="navOne"
              data-en="Home."
              data-se="Hem.">Home.</a>
            </li>

            <li>
              <a href="#about" class="navbar-link"
              id="navTwo"
              data-en="About."
              data-se="Om oss.">About.</a>
            </li>
            
            <li>
              <a href="#contact" class="navbar-link"
              id="navThree"
              data-en="Contact."
              data-se="Kontakta oss.">Contact.</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <article class="container">
        <!-- 
        - #HERO
      -->
      
        <section class="hero" id="home">
          <figure class="hero-banner">
            <picture>
              <source srcset="./logga.png" media="(min-width: 1100px)">
              <source srcset="./logga.png" media="(min-width: 500px)">
              <img src="././logga.png" alt="Axblom & Thöresson Logo"
                class="w-100">
            </picture>
          </figure>

          <div class="hero-content">
            <h2 
            class="h2 hero-title"
            id="slogan"
            data-en=" Balancing Your Books, Maximizing Your Success!"
            data-se="Balansera dina siffror, optimera din framgång">
            </h2>

            <h1 id="greeting" hidden></h1>
           
            <a
              href="#contact"
              class="btn btn-primary"
              id="contactLink"
              data-en="Get in touch"
              data-se="Kontakta oss"
            ></a>
            
          
          </div>

          <ul class="hero-social-list">
            <li>
              <a
                href="https://www.facebook.com/100078626881421/videos/?locale=hi_IN&paipv=0&eav=AfYK3MU9jMWUExEjIgfU1pPX25qamqxnovFp8637qL-CAdJLlSkCy9ZkclvsZjPfnfY&_rdr"
                class="hero-social-link"
              >
                <ion-icon name="logo-facebook"></ion-icon>

                <div class="tooltip">Facebook</div>
              </a>
            </li>

            <li>
              <a
                href="https://se.linkedin.com/company/axblom-och-th%C3%B6resson-redovisning-ab?trk=public_profile_topcard-current-company"
                class="hero-social-link"
              >
                <ion-icon name="logo-linkedin"></ion-icon>

                <div class="tooltip">Linkedin</div>
              </a>
            </li>
          </ul>

          <!-- <a href="#stats" class="scroll-down">Scroll</a> -->
        </section>

       
        <!-- 
        - #ABOUT
      -->

        <section class="about" id="about">
          <figure class="about-banner">
            <img
              src="./services.JPG"
              alt="little about us"
              class="w-100"
            />
          </figure>

  

          <div class="about-content section-content">
            <p class="section-subtitle"
            id="us"
            data-en="About us"
            data-se="Om oss">
        </p>

            <h2 class="h3 section-title"
            id="help"
            data-en="We help you!"
            data-se="Vi hjälper dig!">
             
            </h2>

            <p class="section-text"
            id="accounting"
            data-en="We are an accounting firm consisting of experienced accounting economists who strive for and enjoy close and personal contact and collaboration with our clients. We assist you throughout the journey with your company, from start to finish, whether you are a sole proprietor or have a limited company. We offer services in finance and accounting"
            data-se="Vi är en redovisningsbyrå bestående av erfarna redovisningseconomists som strävar efter och trivs med nära och personlig kontakt och samarbete med våra kunder. Vi hjälper dig genom hela resan med ditt företag, från start till mål, oavsett om du är enskild näringsidkare eller har ett aktiebolag. Vi erbjuder tjänster inom ekonomi och redovisning">
             </p>

        </section>

        <!-- 
        - #CONTACT
      -->

        <section class="contact" id="contact">
          <div class="contact-content section-content">
            <p class="section-subtitle"
            id="contactField"
            data-en="Contact"
            data-se="Kontakt"
            >Contact</p>

            <h2 class="h3 section-title"
            id="sendMessage"
            data-en="
            Financial Questions? Send a Message, We've Got the Answers"
            data-se="Finansiella frågor? Skicka ett meddelande till oss, Vi har svaren!">
              Financial Questions? Send a Message, We've Got the Answers
            </h2>

            <p class="section-text"
            id="contactText"
            data-en="Get in touch and let me know how i can help. Fill out the form and
            i’ll be in touch as soon as possible."
            data-se="Fyll i formuläret så kontaktar vi dig!"
            >
              Get in touch and let me know how i can help. Fill out the form and
              i’ll be in touch as soon as possible.
            </p>

            <ul class="contact-list">
              <li class="contact-list-item">
                <div class="contact-item-icon">
                  <ion-icon name="location-outline"></ion-icon>
                </div>

            
              </li>

              <li class="contact-list-item">
                <div class="contact-item-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>

                <div class="wrapper">
                  <h3 class="h4 contact-item-title"
                  id="phone"
                  data-en="Phone"
                  data-se="Telefon"
                  >Phone:</h3>

                  <a href="tel:+46739294680" class="contact-info"
                    >(+46) (0)739 264 680</a
                  >

                  <a href="tel:+46730844392" class="contact-info"
                    >(+46) (0)730 844 392</a
                  >
                </div>
              </li>

              <li class="contact-list-item">
                <div class="contact-item-icon">
                  <ion-icon name="mail-outline"></ion-icon>
                </div>

                <div class="wrapper">
                  <h3 class="h4 contact-item-title">Email:</h3>

                  <a
                    href="mailto:kontakta@axblomochthoresson.se"
                    class="contact-info"
                    >kontakta@axblomochthoresson.se</a
                  >
                </div>
              </li>

              <li>
                <ul class="contac-social-list">
                  <li>
                    <a
                      href="https://www.facebook.com/100078626881421/videos/?locale=hi_IN&paipv=0&eav=AfYK3MU9jMWUExEjIgfU1pPX25qamqxnovFp8637qL-CAdJLlSkCy9ZkclvsZjPfnfY&_rdr"
                      class="contact-social-link"
                    >
                      <div class="tooltip">Facebook</div>

                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://se.linkedin.com/company/axblom-och-th%C3%B6resson-redovisning-ab?trk=public_profile_topcard-current-company"
                      class="contact-social-link"
                    >
                      <div class="tooltip">Linkedin</div>

                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <form method="post" action="./index.html" class="contact-form">
            <div class="form-wrapper">
              <label for="name" class="form-label"
              id="user"
              data-en= "Name"
              data-se="För och Efternamn">Name</label>

              <div class="input-wrapper">
                <input
                  type="text"
                  name="name"
                  id="name"
                  required
                  placeholder="e.g John Doe"
                  class="input-field"
                />

                <ion-icon name="person-circle"></ion-icon>
              </div>
            </div>

            <div class="form-wrapper">
              <label for="email" class="form-label">Email</label>

              <div class="input-wrapper">
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  placeholder="e.g johndoe@mail.com"
                  class="input-field"
                />

                <ion-icon name="mail"></ion-icon>
              </div>
            </div>

            <div class="form-wrapper">
              <label for="phone" class="form-label"
              id="tele"
              data-en= "Phone"
              data-se="Telefon"
              >Phone</label>

              <div class="input-wrapper">
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  required
                  placeholder="Phone Number"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                  class="input-field"
                />
                
             
                <ion-icon name="call"></ion-icon>
              </div>
            </div>

            <div class="form-wrapper">
              <label for="message" class="form-label"
              id="message"
              data-en= "Message"
              data-se="Meddelande">Message</label>

              <div class="input-wrapper">
                <textarea
                  name="message"
                  id="message"
                  required
                  placeholder="Write message..."
                  class="input-field"
                ></textarea>

                <ion-icon name="chatbubbles"></ion-icon>
              </div>
            </div>
            <div class="g-recaptcha" data-sitekey="6Ldbdg0TAAAAAI7KAf72Q6uagbWzWecTeBWmrCpJ"></div>
            <button type="submit" class="btn btn-primary"
            id="send"
            data-en="Send"
            data-se="Skicka">Send</button>
          </form>
        </section>
      </article>
    </main>

    <!-- 
    - #FOOTER
  -->

    <footer class="footer">
      <div class="container">
        <p class="h1 logo">
          <a href="#"> A&T Redovisning </a>
        </p>
      </div>
    </footer>

    <!-- 
    - #GO TO TOP
  -->

    <a href="#top" class="go-top" data-go-top title="Go to Top">
      <ion-icon name="arrow-up"></ion-icon>
    </a>

    <!-- 
    - custom js link
  -->
    <script src="../js/script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </body>
</html>
